// theme colors
$primary-color:#326dee;
$secondary-color: #1ac888;
$error: #d32752;
$info: #f6c31c;
$light: #d8d2d2;

// color palette
$colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "error": $error,
  "info": $info,
  "blue": #1919e6,
  "red": #e61919,
  "yellow": #e6e619,
  "green": #19e635,
  "orange": #ffa600,
  "purple": #9900ff,
  "gray": #808080,
  "black": black,
  "white": white,
);

// Spacing 
$letter-spacing-high: 3;
$letter-spacing-mid: 2.5;
$letter-spacing-low: 2;
$base-padding: 0.75rem;
$base-margin: 0.7rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;